*{
    margin: 0%;
    height: 0%;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(232, 232, 185);
    display: flex;          /*This command put both box beside each other (in row)*/
    align-items: center;
    justify-content: center;
}

div{
    width: 55%;
    height: 50%;
    font-size: larger;
    font-family:fantasy;
}
#box2{
    background-color: aquamarine;
}

#box1{
    background-color: red;
}