            body{
                background-color:darkcyan;
                 text-align: center; padding;
                  color: black; 
                  width : 100% "
            }
            h1{ background-color:aquamarine;
                text-align: center; 
                padding: black;
                 width : 100%;
            }
            h2{ background-color: bisque;
                 text-align: center;}
            p{background-color:darksalmon;
                 color:blueviolet;
                  width: 100%;
                  font-family: 'Lucida Sans', 
                  'Lucida Sans Regular',
                   'Lucida Grande';}
            img{background-color: cornflowerblue;}